@media (min-width: 720px) and (max-width: 2560px) {
    .Blog {
        display: flex;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
    }

    .Blog h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Blog p {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        width: 400px;
    }

}